@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
}

body {
    background: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    z-index: 2;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(13, 19, 31, 0.8);
    box-shadow: 0px 4px 6px rgba(9, 211, 9, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h2 {
    color: #fff;
}

.back {
    position: absolute;
    height: 100%;
    width: 100px;
    color: #fff;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background 0.3s;
}

.back:hover {
    background-color: #201f1f;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

i {
    font-size: 20px;
    color: #00ff00b6;
}

#audio {
    position: absolute;
    right: 80px;
    top: 20px;
    background: rgba(0, 0, 0, 0.2);
    height: 35px;
    width: 35px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(9, 211, 9, 0.3);
    transition: transform 0.3s;
}

#audio:hover {
    transform: scale(1.1);
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: relative;
    top: 100px;
    height: 280px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(9, 211, 9, 0.3);
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

.info {
    background: rgba(22, 22, 22, 0.8);
    padding: 20px;
    text-align: center;
    color: #92f092dc;
    border-radius: 8px;
   position: relative;
   margin-top: 150px;
    box-shadow: 0px 4px 6px rgba(9, 211, 9, 0.3);
    transition: transform 0.3s;
}

.info:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    header {
        height: 50px;
    }

    section {
        flex-direction: column;
    }

    img {
       
        width: 90%;
        height: auto;
    }

    .info {
        width: 90%;
        font-size: 14px;
        padding: 10px;
    }
    #audio{
        top: 10px;
        right: 20px;
        position: absolute;
    }
}
